
<main class="main">

    <form class="form">
        
        <label class="label" for="text">Busca tu Cool Cocktail aquí</label>

        <div class="div">
        
            <input
            class="div_input"
            id="text"
            type="text"
            name="text"
            placeholder="Ejemplo: Margarita"
            />
            <section class="section0">
            <input class="section0_button" type="button" value="Buscar">
            <input class="section0_buttonReset" type="button" value="Reset">
            </section>
        </div>

    </form>

<div class="div1">

    <section class="section1">
        <h2>Todos los cool cocktails</h2>
    </section>

    <section class="section2">
        <h2>Mis súper cocktails</h2>
    </section>

</div>

</main>