
<main class="main">

    <form class="form">
        
        <label class="label" for="text">Busca tu Cool Cocktail aquí</label>

        <div class="div">
        
            <input
            class="div_input js-inputSearch"
            id="text"
            type="text"
            name="text"
            placeholder="Ejemplo: Margarita"
            />
            <section class="section0">
            <input class="section0_button js-buttonSearch" type="button" value="Buscar">
            <input class="section0_buttonReset js-buttonReset" type="button" value="Reset">
            </section>
        </div>

    </form>

<section class="section1">

    <article class="article1">
        <h2 class="h2-all">Todos los cool cocktails</h2>
        <ul class="ul-all js-ulAll"></ul>
    </article>

    <article class="article2">
        <h2>Mis súper cocktails</h2>
        <ul class="ul-favs js-ulFavs"></ul>
    </article>

</div>

</main>