
<main class="main">

    <form class="form">

        <div class="title-input">
        
        <label class="label" for="text">Busca tu Cocktail</label>
       

         </div>

        <div class="div">
        
            <input
            class="div_input js-inputSearch"
            id="text"
            type="text"
            name="text"
            placeholder="Ejemplo: Margarita"
            />
            <section class="section0">
            <input class="section0_button js-buttonSearch" type="button" value="Buscar">
            <input class="section0_buttonReset js-buttonReset" type="button" value="Reset">
            </section>
        </div>

    </form>

<section class="section1">

    <article class="article1">
        <h2 class="h2-all">Toda nuestra carta</h2>
        <ul class="ul-all js-ulAll"></ul>
    </article>

    <article class="article2">
        <h2 class="mis-favs">Mis favoritos</h2>
        <ul class="ul-favs js-ulFavs"></ul>
        <img class="trash js-trash" src="./assets/images/eliminar.png">
        <input class="borrarFavs js-removeFavs" type="button" value="Borrar">
       
    </article>

</div>

</main>