
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Zeyada', cursive; 
}

.body {
    background-color: rgb(245, 199, 222);
}

.header {
    display: flex;
    flex-direction: row;
   
}

.cocktails {
    padding: 20px;
    display: flex;
    align-items:start;
    position: sticky;
    height: 200px;
    width: 200px;
}

.p-header{
    border: 3px solid orange;
}


.h1 {
    
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    border-left:3px solid rgb(173, 123, 189);
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:x-large;
    
}

.title-input {
    display: flex;
    flex-direction: row;
    
}

.label {
   
    margin-right: 5px;
    
}

.arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 10px;
    
}


.form {
    font-size: 30px;
    
}

.div {

    display: flex;
    flex-direction: column;

    &_input {
        border: 2px solid gray;
        padding: 20px;
        height: 5vh;
        width: 100%;
        font-size: large;
        cursor:pointer;
        font-family: 'Bebas Neue', cursive;

    }
}

.section0 {
  
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    
    &_button {
        background-color: rgb(173, 123, 189);
        text-transform: uppercase;
        padding: 5px;
        font-family: 'Bebas Neue', cursive;
        width: 20vw;
        box-shadow: 2px 2px 2px black;
        cursor:pointer;
    }

    &_buttonReset {
        font-family: 'Bebas Neue', cursive;
        padding: 3px;
        width: 10vw;
        margin-top: 10px;
        box-shadow: 1px 1px 1px gray;
        cursor:pointer;
    }



}

.section1 {
   
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-around;
    padding: 20px;
}

.article1 {
   
   color: rgba(213, 130, 238, 0.87);
   text-shadow: 1px 1px 2px black;
    width: 55vw;
    font-weight: 800;
    display: flex;
    align-items:normal;
    justify-content: center;
    flex-direction: column;
    
}

.h2-all {
    
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 100px;
    margin-bottom: 20px;
    width: 50vw;
    text-transform: uppercase;
    background-color: rgb(224, 192, 245);
    text-shadow: 1px 2px 1px black;
    border: 2px solid  rgb(173, 123, 189);
    border-radius: 5%;
    box-shadow: -10px 10px 4px black;

   
}

.article2 {
    border: 3px solid rgb(190, 81, 136);
    background-color: lightpink;
    width: 30vw;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 400%;
    padding: 3px 10px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow: 1px 1px 10px hsl(327, 69%, 60%),
    2px 2px 0px hsl(327,69%,79%),
    3px 3px 0px hsl(327,69%,75%),
    4px 4px 0px hsl(327,69%,90%),
    5px 5px 0px hsl(327,69%,90%);
    text-shadow: 1px 1px 10px hsl(327, 20%, 60%),
    2px 2px 0px hsl(327,69%,66%),
    3px 3px 0px hsl(327,69%,70%),
    4px 4px 0px hsl(327,69%,60%);
}

.li {
   
    padding: 30px;
    list-style: none;
    color:black;
    text-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 70px;
    margin-bottom: 10px;
}

.namelist {
    
    font-family: 'Bebas Neue', cursive;
}

.img {
    // border: 3px solid rgb(173, 123, 189);
    border: 3px solid black;
    box-shadow: -5px 6px 2px black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 230px;
}

.selected {
    background-color: rgb(210, 157, 235);
}