
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Zeyada', cursive; 
}

.header {
    display: flex;
    flex-direction: row;
}

.cocktails {
    padding: 20px;
    display: flex;
    align-items:start;
    height: 20vh;
    width: 20vw;
}

.p-header{
    border: 3px solid goldenrod;
}

.h1 {
    
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    border-left:3px solid rgb(173, 123, 189);
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:x-large;
}


.form {
    font-size: 30px;
    
}

.div {

    display: flex;
    flex-direction: column;

    &_input {
        border: 2px solid gray;
        padding: 20px;
        height: 5vh;
        width: 100%;
        font-weight: bolder;
        font-size: large;
    }
}

.section0 {
  
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    
    &_button {
        background-color: rgb(173, 123, 189);
        text-transform: uppercase;
        padding: 5px;
        font-family: 'Bebas Neue', cursive;
        width: 20vw;
    }

    &_buttonReset {
        font-family: 'Bebas Neue', cursive;
        padding: 3px;
        width: 10vw;
        margin-top: 10px;
    }



}

.section1 {
   
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-around;
    padding: 20px;
}

.article1 {
   
   color: rgba(213, 130, 238, 0.87);
   text-shadow: 1px 1px 2px black;
    width: 55vw;
    font-weight: 800;
    display: flex;
    align-items:normal;
    justify-content: center;
    flex-direction: column;
    
}

.h2-all {
    
    margin-right: 200px;
   
}

.article2 {
    border: 3px solid pink;
    background-color: lightpink;
    text-shadow: 1px 1px 2px white;
    width: 30vw;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
}

.li {
   
    padding: 10px;
    list-style: none;
    color:black;
    text-shadow: none;
}

.img {
    border: 3px solid rgb(173, 123, 189);
    display: flex;
    flex-direction: column;
    height: 295px;
    width: 230px;
}